/EnemyType.class
/EnemyTypeBasic.class
/EnemyTypeUpgraded.class
/EnemyTyoeBoss.class
/EnemyTypeBoss.class
/Boss.class
/EnemyTypeSpecial.class
/UltraSpecial.class
/EnemyUltraSpecial.class
/EnemyMiniBossBasic.class
/EnemyMiniBossUpgraded.class
